body {
  background-color: #f3f2ef;
  margin: 0;
}

.header {
  display: flex;
  width: 100%;
  background-color: white;
  align-items: center;
  padding: 5px 0;
  top: 0;
  position: fixed;
}

.header div {
  display: inline-block;
  text-align: center;
  justify-content: center;
  margin: 0 10px;
}

.LinkedInLogo {
  width: 2.3em;
  height: 2.3em;
  margin-left: 8em;
}

.Search {
  background-color: #eef3f8;
  width: 20em;
  padding-left: 20px;
  height: 2.8em;
  border: none;
  border-radius: 10px;
  margin-left: 10px;
  margin-right: 100px;
}

.navbar {
  border-right: thin solid gray;
}

.nav-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5px;
  width: 2em;
  height: 2em;
}

.container {
  display: flex;
  box-sizing: border-box;
  flex-direction: row;
  margin: 13vh 2vh 5vh 0;
  height: 70vh;
}

.left {
  display: flex;
  flex-direction: column;
  flex: 20%;
  margin-left: 15vh;
  margin-right: 2vh;
}

.left-upper {
  background: linear-gradient(to bottom, #a0b4b7 20%, white 0);
  margin: 3px;
  flex: 70%;
  border-radius: 5px;
  text-align: center;
}

.left-upper div:hover {
  background-color: #d0d4d4;
  cursor: pointer;
}

.profile {
  width: 4rem;
  height: 4rem;
  margin-left: 5.1em;
  margin-top: 1.6em;
  text-align: center;
  background-color: #f9fafb;
  border-radius: 50%;
  margin-bottom: 10px;
}

.left-img {
  max-width: 50%;
  max-height: 50%;
  margin: 25% 0;
}

.left-lower {
  background-color: white;
  margin: 3px;
  flex: 30%;
  border-radius: 5px;
}

.left-lower a {
  color: #0a66c2;
  display: block;
  font-size: small;
  text-decoration: none;
  margin: 1em;
}

.left-lower a:hover {
  text-decoration: underline;
  cursor: pointer;
}

#discover {
  font-size: large;
  text-align: center;
  color: gray;
  decoration: none;
  border-top: thin;
}

.mid {
  display: flex;
  flex-direction: column;
  flex: 55%;
  height: 200vh;
  margin-right: 1.8vh;
}

.mid-upper {
  box-sizing: border-box;
  background-color: white;
  margin: 3px;
  border-radius: 10px;
}

.write-post img {
  float: left;
  max-width: 55px;
  max-height: 55px;
  margin: 3% 0 0 4%;
}

.write-post input {
  width: 65vh;
  height: 6vh;
  color: #a0b4b7;
  font-weight: bold;
  font-size: 14px;
  cursor: pointer;
  border-top-left-radius: 25vh;
  border-top-right-radius: 25vh;
  border-bottom-left-radius: 25vh;
  border-bottom-right-radius: 25vh;
  padding-left: 5%;
  border: 1px solid #ada5a5;
  margin: 3.5% 0 0 2%;
}

.options {
  display: flex;
  text-align: center;
  margin-top: 3%;
  margin-bottom: 3%;
  margin-left: 18%;
}

.options:hover {
  cursor: pointer;
}

.options h4 {
  display: inline;
  font-style: normal;
  margin: 1px 7% 0 2%;
}

.mid-lower {
  background-color: white;
  border-radius: 5px;
  flex: 35%;
  padding: 20px;
  margin-bottom: 1vh;
}

.mid-post {
  border-radius: 15px;
  margin-top: 1em;
}

.read-post {
  float: left;
  display: inline-block;
  border-radius: 50%;
  width: 55px;
  height: 55px;
  margin: 0 0 3% 4%;
}

.mid-lower img {
  max-width: 100%;
  max-height: 100%;
}

.mid-lower h3 {
  display: inline-block;
  margin: 20px 0 10px 10px;
}

.mid-lower h3 {
  letter-spacing: 1px;
}

.mid-lower p {
  margin-top: 1em;
  margin-left: 0.8em;
  line-height: 1.5em;
}

.right {
  display: flex;
  flex-direction: column;
  margin-right: 5%;
  flex: 30%;
}

.right-upper {
  background-color: white;
  margin: 3px;
  border-radius: 5px;
  flex: 55%;
}

.right-upper h4 {
  color: #646464;
  margin: 0.7em 0 0 0.7em;
}

.right-upper h5 {
  display: inline-block;
  color: #a4a4a4;
  margin: 0.5em 0 1em 1.5em;
}

.right-upper h5:hover {
  background-color: #e6dbdb;
  cursor: pointer;
}

.profile-img {
  float: left;
  max-width: 55px;
  max-height: 55px;
  margin: 3% 0 0 4%;
}

.right-upperProfile img {
  float: left;
  margin-left: 1em;
  margin-right: 1em;
}

.right-upperProfileName {
  font-weight: bold;
  margin-left: 5em;
  margin-top: 5%;
}

.right-upperProfileDetail {
  margin-left: 5em;
  margin-top: 1%;
}

.right-upperProfileButton {
  width: 110px;
  height: 35px;
  box-sizing: border-box;
  padding-top: 2%;
  margin: 0.5em 0em 1em 6em;
  border: 2px solid black;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
}

.buttonplusicon {
  height: 15px;
  width: 15px;
}

.buttontext {
  float: left;
  font-size: 15px;
  margin-top: 0.5%;
  margin-right: 5%;
  margin-bottom: 10%;
}

.right-upperProfileButton:hover {
  background-color: #dddada;
  cursor: pointer;
}

.right-upper a {
  font-size: large;
  text-align: center;
  color: gray;
  decoration: none;
  margin: 10px 0 20px 20px;
}

.right-lower {
  background-color: white;
  margin: 3px;
  flex: 45%;
  border-radius: 5px;
  padding: 2px;
}

.right-lower:hover {
  cursor: pointer;
}

.right-lower img {
  height: 100%;
  width: 100%;
}

.messaging {
  bottom: 0;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  background-color: white;
  height: 3em;
  width: 18em;
  margin-left: 80%;
  position: fixed;
}

.messaging:hover {
  cursor: pointer;
}

.messages img {
  float: left;
  margin: 4% 0% 0% 7%;
  height: 24px;
  width: 24px;
}

.messages h5 {
  font-size: 16px;
  float: left;
  margin: 4% 5% 0 4%;
}

.messaging-icons {
  margin-top: 2%;
}

.messaging-icons img:hover {
  background-color: #adadad;
}

@media screen and (max-width:720px) {
  .container {
    flex-direction: column;
  }

  .container>div {
    margin: 5px;
  }

  .header {
    overflow: auto;
  }

  .left {
    float: none;
    text-align: center;
    justify-content: center;
  }

  .right-upperProfileButton {
    padding-top: 1%;
  }

  .LinkedInLogo {
    margin-left: 1em;
  }

  .Search {
    background-color: #eef3f8;
    visibility: hidden;
  }

  .Home {
    margin-left: 1em;
  }

  .write-post {
    display: flex;
    flex-direction: column;
  }

  .options img {
    overflow: hidden;
    visibility: collapse;
  }
}

@media screen and (max-width:335px) {
  .write-post input {
    max-width: 30vh;
  }

  .options h4 {
    margin-left: 2px;
    margin-right: 2px;
  }
}
