* {
  box-sizing: border-box;
  margin: 0;
}
body {
  margin: 50px;
  padding: 25px;
  border: 1px solid black;
}

.wrapper {
  width: 100%;
  height: 25px;
  background-color: green;
  margin-bottom: 25px;
  display: flex;
}

#row1 div:nth-child(1) {
  background-color: red;
  width: 50%;
  height: 100%;
}

#row1 div:nth-child(2) {
  background-color: blue;
  width: 50%;
  height: 100%;
}

#row2 {
  justify-content: flex-end;
}

#row2 div:nth-child(1) {
  background-color: blue;
  width: 5%;
  height: 100%;
}

@media screen and (max-width: 786px) {
  #row2 div:nth-child(1) {
    width: 10%;
  }
}

#row3 {
  justify-content: space-between;
}

#row3 div:nth-child(1) {
  background-color: red;
  width: 5%;
  height: 100%;
}

#row3 div:nth-child(2) {
  background-color: blue;
  width: 5%;
  height: 100%;
}

@media screen and (max-width: 786px) {
  #row3 div:nth-child(1),
  #row3 div:nth-child(2) {
    width: 10%;
  }
}

#row4 div:nth-child(1) {
  background-color: red;
  width: 95%;
  height: 100%;
}

#row4 div:nth-child(2) {
  background-color: blue;
  width: 5%;
  height: 100%;
}

@media screen and (max-width: 786px) {
    #row4 div:nth-child(2) {
      width: 10%;
    }
}

#row5 {
  justify-content: center;
  align-items: center;
}

#row5 div:nth-child(1) {
  background-color: red;
  width: 15px;
  height: 15px;
}

#row6 {
  justify-content: center;
  background-color: red;
}

#row6 div:nth-child(1) {
  background-color: blue;
  width: 5%;
  height: 100%;
}

@media screen and (max-width: 786px) {
    #row6 div:nth-child(1) {
      width: 10%;
    }
}

#row7 div:nth-child(1) {
  background-color: red;
  width: 5%;
  height: 100%;
}

#row7 div:nth-child(2) {
  width: 95%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#row7 div:nth-child(2) div {
  background-color: blue;
  width: 100%;
  height: 33.3%;
}

@media screen and (max-width: 786px) {
    #row7 div:nth-child(1) {
      width: 10%;
    }
}

#row8 {
  justify-content: space-between;
}

#row8 div {
  background-color: orange;
  width: 5%;
  height: 100%;
}

@media screen and (max-width: 786px) {
    #row8 div {
      width: 15%;
    }
}

#row9 {
  justify-content: space-between;
}

#row9 div {
  background-color: orange;
  width: 19%;
  height: 100%;
}

@media screen and (max-width: 786px) {
    #row9 div {
      width: 15%;
    }
}