body {
  margin: 0;
}

h1 {
  margin-top: 50px;
  text-align: center;
}

label {
  float: left;
  width: 50%;
  text-align: right;
  margin-right: 10px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 14px;
}

input,
select,
span {
  float: left;
  margin-bottom: 10px;
}

form textarea {
  float: left;
  width: 400px;
  height: 150px;
}

.button {
  text-align: center;
  margin: 500px auto 0 auto;
  justify-content: center;
}

button {
  text-align: center;
  font-size: 16px;
}