* {
  box-sizing: border-box;
}
body {
  background-color: #313552;
  color: white;
  display: flex;
  justify-content: center;
  text-align: center;
}

input[type="text"],
textarea {
  background-color: #d1d1d1;
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

label {
  padding: 10px 10px 10px 0;
}

input[type="button"] {
  background-color: #2eb086;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type="button"]:hover {
  background-color: #b8405e;
}

#contact {
  width: 50%;
  margin-top: 50px;
}

.row {
  display: flex;
  justify-content: right;
  align-items: center;
}
.col-25 {
  width: 25%;
  margin-right: 6px;
  text-align: right;
}

.col-75 {
  width: 75%;
  margin-bottom: 6px;
}

@media screen and (max-width: 600px) {
  #contact {
    width: 100%;
  }
  .row {
    flex-direction: column;
    justify-content: center;
  }
  .col-25 {
    text-align: left;
    width: 100%;
  }
}
