*{
    box-sizing: border-box;
}
body {
    background-color: #313552;
    color: white;
    text-align: right;
}
input[type=text],select,textarea {
    background-color: #D1D1D1;
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}

label
{
    padding: 10px 10px 10px 0;
    display: inline-block;
}

input[type=button] {
    background-color: #2EB086;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
    margin-right: 0;
}

input[type=button]:hover {
    background-color: #B8405E;
}

.col-25 {
    float: left;
    width: 25%;
}

.col-75 {
    float: left;
    width: 75%;
    margin-bottom: 6px;
}

.row::after {
    content: "";
    display: table;
    clear: both;
}

@media screen and (max-width: 600px) {
    .col-25{
        text-align: left;
        float: left;
    }
    .col-75 {
         width: 100%;
    }
}