*{
    box-sizing: border-box;
}

body {
    font-family:Arial, Helvetica, sans-serif;
    margin: 0
}

.list {
    margin: 0;
    padding: 0;
}

.li {
    background-color: #694E4E;
    border: 1px solid black;
    border-radius: 25px;
    width: 100px;
    margin: 10px;
    padding: 5px;
    text-align: center;
    color: white;

}

.row {
    overflow: auto;
    margin: 0;
}

.side {
    color: black;
    background-color: #886F6F;
    padding: 20px;
    float: none;
    width: auto;
    margin: 0;
}


.main {
    color: #03045E;
    background-color: #CAF0F8;
    padding: 20px;
    margin: 0;
}


@media screen and (max-width: 480px) {
    .side{
        width: 200px;
        float: left;
    }
    .main {
        margin-left: 200px;
    }
    
}