* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #313552;
  color: white;
}

.container {
  display: flex;
}

.col {
  margin: 10px;
  width: 50%;
  padding: 10%;
  border: 1px solid white;
  display: flex;
  flex-direction: column;

  text-align: center;
}

.row {
  display: flex;
  justify-content: right;
  align-items: center;
}
.col-25 {
  width: 25%;
  margin-right: 6px;
  text-align: right;
}

.col-75 {
  width: 75%;
  margin-bottom: 6px;
}

input[type="text"] {
  background-color: #d1d1d1;
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

label {
  padding: 10px 10px 10px 0;
}

#register {
  background-color: #2eb086;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

#register:hover {
  background-color: #b8405e;
}

#studentList th {
  background-color: #2eb086;
}

#studentList,
th {
  border: 1px solid white;
  border-collapse: collapse;
  padding: 10px;
  color: white;
}

#studentList tr {
  background-color: #d1d1d1;
  color: black;
}
