* {
  box-sizing: border-box;
}

body {
  margin: 100px auto;
  background-color: #313552;
  color: white;
  text-align: center;
}

input[type=text] {
  background-color: #D1D1D1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
  width: 300px;
}

label {
  padding: 10px;
  display: inline-block;
}

button[type=button] {
  background-color: #2EB086;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 7.5px;
}

button[type=button]:hover {
  background-color: #B8405E;
}

button[type=print] {
  color: white;
  background-color: #F47645;
  padding: 10px 55px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-left: 7.5px;
}

button[type=result] {
  color: white;
  background-color: #B8405E;
  padding: 10px 0;
  width: 150px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.col-25 {
  float: left;
  width: 25%;
  text-align: right;
}

.col-75 {
  float: left;
  width: 75%;
  margin-bottom: 6px;
  text-align: left;
}

.row::after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 600px) {
  .col-25 {
    text-align: left;
    float: left;
    margin-left: 10px;
  }

  .col-75 {
    width: 100%;
    margin-left: 10px;
  }
}
