* {
  box-sizing: border-box;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  text-align: left;
  color: white;
  background-color: #65c18c;
  margin: 0;
}

h1 {
  color: white;
  margin: 0;
}

.wrapper {
  margin: 0 12.5%;
}

.header {
  background-color: white;
  display: -ms-flexbox;
  display: flex;
  display: -webkit-flex;
}
.header-img {
  width: 100%;
  height: 300px;
}

.navbar {
  margin: 20px 0;
  border-top-style: solid;
  border-bottom-style: solid;
  top: 0;
  position: sticky;
  position: -webkit-sticky;
  overflow: hidden;
  background-color: #65c18c;
}
.navbar a {
  border-right-style: solid;
  border-width: thin;
  float: left;
  display: block;
  color: white;
  padding: 20px 30px;
  text-decoration: none;
}
.navbar a:hover {
  background-color: #006a71;
  color: white;
}
.navbar a:active {
  background-color: white;
  color: #006a71;
}
.row {
  display: -ms-flexbox;
  display: flex;
  display: -webkit-flex;
}
.main {
  -ms-flex: 70%;
  flex: 70%;
  padding: 20px;
}
.img1 {
  float: left;
  height: 200px;
  width: 200px;
  padding: 20px;
}

.without-image {
  margin: 15px 0;
}

.with-image {
  padding: 20px;
  float: left;
  width: 45%;
  border-style: solid;
  border-width: thin;
  margin: 0 10px;
}

button {
  background-color: gray;
  color: white;
  border-radius: 5px;
}
.img2 {
  width: 200px;
  height: 200px;
}

.side {
  -ms-flex: 30%;
  flex: 30%;
  margin: 20px;
  padding: 20px;
  color: #ecf4f3;
}
ul {
  width: 200px;
  border-style: solid;
  border-width: thin;
}
.side-img {
  height: 200px;
  width: 200px;
  border-style: solid;
  border-width: thin;
}
.side a {
  color: white;
  line-height: 2;
  display: block;
}

.side a:hover {
  color: white;
}
#read-more {
  display: block;
  margin-top: 10px;
}
.footer {
  padding: 10px;
  color: white;
  background-color: #006a71;
}
.footer p {
  text-align: right;
}

@media screen and (max-width: 700px) {
  .row {
    flex-direction: column;
  }
}
